*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0%;
}
body::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: LOL;
    src: url(/Beaufort\ for\ LOL\ Bold.ttf);
}
header{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    background: linear-gradient(rgba(0, 0, 0, 0.804),rgba(0, 0, 0, 0));
    width: 100%;
    height: 60px;
    position: fixed;    
    z-index: 1000;
}
#Background ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin-left: 50px;
}
#Background li{
    display: inline;
    text-align: center;
    margin: 10px 20px 0 0;
    float: left;
}
#LOL_Icon{
    height: 30px;
}
#Search{
    width: 34vw;
    height: 30px;
    background-color: linear-gradient(90deg, rgba(255, 255, 255, 0.714) 52.3%, rgba(255, 255, 255, 0.067) 166.66%, rgba(255, 255, 255, 0) 176.35%);
    border: none;
    outline: none;
    border-radius: 30px;
    font-family: LOL;
    font-size:medium;
    color: #021526;
    padding-left: 20px;
}
#Search::placeholder{
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Search_Icon.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-y: 5px;
    background-position-x: 0px;
    padding-top: 5px;
    padding-left: 25px;
}
#Star_Icon{
    height: 30px;
    padding-top: 3px;
    padding-left: 670px;
}
#User_Icon{
    width: 37px;
}
#Background{
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Seraphine.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#Container{
    width: 80vw;
    height: 75vh;
    display: flex;
    background-color: rgba(2, 21, 38, 0.7);
    box-shadow: inset 4px 4px 100px #021526;
    margin-top: 120px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding-left: 30px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}

#Options_List{
    display: flex;
    float: left;
    margin-top: 15px;
}
#Options_List ul{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    margin-left: 50px;
}
#Options_List li{
    display: inline;
    text-align: center;
    margin: 10px 50px 0 0;
    float: left;
}
#Línea{
    width: 16vh;
    height: 4px;
    background: linear-gradient(90deg, #D89E30 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.8;
    border-radius: 3.5px;
    border: none;
    margin-top: 30px;
    margin-left: 9.8vw;
    position: relative;
}
#Overview{
    display: block;
    font-family: LOL;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
#Overview:hover{
    color:#D89E30
}
#Overview:active{
    color:burlywood;
}
#Abilities{
    display: block;
    font-family: LOL;
    font-size: 23px;
    color: white;
    text-decoration: none;
}

#Available_Skins{
    display: block;
    font-family: LOL;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
#Available_Skins:hover{
    color:#D89E30
}
#Available_Skins:active{
    color:burlywood;
}
#Favorites{
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LOL;
    font-size:medium;
    color:#fff;  
    width: 180px;
    height: 30px;
    background-color: #021526;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    margin-right: 5px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Star_Icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
    padding-left: 15px;
}
#Favorites:hover{
    box-sizing: border-box;
    border: 2px solid white;
    background-color:#ffffff00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: white;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Star_Icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
    padding-left: 15px;
}
#Favorites:active{
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color:#74542E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #fff;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Star_Icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
    padding-left: 15px;
}
#Information{
    padding: 50px;
    display: flex;
    flex-direction: column;
}
#Information h1{
    font-family: LOL;
    font-weight: bold;
    color: white;
    position: relative;
}
#Information h3{
    font-family: LOL;
    font-weight: bold;
    font-size: 24px;
    color: white;
    position: relative;
}
#Text{
    width: 73vw;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#ContainerL{
    display: flex;
    flex-direction: column;
}
#List{
    position: relative;
    left: -50px;
}
.Skills{
    position: relative;
    bottom: 10px;
    width: 4vw;
}
.Skills:hover{
    position: relative;
    width: 3.5vw;
}
#Línea_2{
    width: 8vh;
    height: 4px;
    background: linear-gradient(90deg, #D89E30 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.8;
    border-radius: 3.5px;
    border: none;
    margin-top: 65px;
    margin-left: 16vw;
    position: relative;
}
#Resume{
    margin-top: 15px;
    width: 45vw;
    height: 180px;
    font-family: LOL;
    font-size:larger;
    color: white;
}
#Text hr{
    width: 4px;
    height: 290px;
    background: linear-gradient(180deg, #D89E30 0%, rgba(217, 217, 217, 0) 100%);
    opacity: 0.8;
    border-radius: 3.5px;
    border: none;
    position: relative;
    margin-left: 80px;
    margin-right: 60px;
}
#Rol{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 4.8vw;
    padding-top: 20px;
}
#Rol_Icon{
    width: 6vw;
}
#Skill{
    font-family: LOL;
    color:#fff;
    font-size:larger;
}
#Skill_Name{
    font-family: LOL;
    color:#D89E30;
    font-size:larger;
}