*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0%;
}
body::-webkit-scrollbar{
    display: none;
}
#Background{
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Fondo.jpeg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Sign_Up{
    width: 30vw;
    height: 90vh;
    background: rgba(217, 217, 217, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 30px;
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 0px 2px rgba(201, 201, 201, 0.1), inset -5px 5px 12px rgba(255, 255, 255, 0.05), inset 5px -5px 12px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
@font-face {
    font-family: LOL;
    src: url(./Beaufort\ for\ LOL\ Bold.ttf);
}
#Titulo{
    font-family: LOL;
    font-style: bold;
    font-size: 30px;
    font-weight: bold;
    color: #021526;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Name{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    font-family: LOL;
    font-size: large;
    color: #606060;
    padding-left: 20px;
}
#Name::placeholder{
    font-family: LOL;
    font-size:large;
    color: #021526;
    padding-left: 20px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/User.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
#Last_name{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    font-family: LOL;
    font-size: large;
    color: #606060;
    padding-left: 20px;
}
#Last_name::placeholder{
    font-family: LOL;
    font-size:large;
    color: #021526;
    padding-left: 20px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/User.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
#Email{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    font-family: LOL;
    font-size: large;
    color: #606060;
    padding-left: 20px;
}
#Email::placeholder{
    font-family: LOL;
    font-size:large;
    color: #021526;
    padding-left: 20px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/User.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
#Password{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    font-family: LOL;
    font-size: large;
    color: #606060;
    padding-left: 20px;
}
#Password::placeholder{
    font-family: LOL;
    font-size: large;
    color: #021526;
    padding-left: 20px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Lock.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
#Confirm{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    padding-left: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    font-family: LOL;
    font-size: large;
    color: #606060;
    padding-left: 20px;
}
#Confirm::placeholder{
    font-family: LOL;
    font-size: large;
    color: #021526;
    padding-left: 20px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Lock.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
#Línea{
    display: flex;
    justify-content: space-evenly;
}
hr{
    width: 130px;
    height: 2px;
    background-color:#021526;
    border-radius: 3px;
    border: 0px;
    position: relative;
    top: 20px;
}
#Línea p{
    font-family: LOL;
    font-size:small;
    color: #021526;
    padding-top: 11px;
    padding-left: 5px;
    padding-right: 5px;
}
#Options{
    margin-top: 30px;
}
#Botones{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
#Google{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LOL;
    font-size:small;
    color:#fff;  
    width: 170px;
    height: 35px;
    background-color: #021526;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    margin-top: 10px;
    margin-right: 5px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Google.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: center;
    padding-left: 8px;
}
#Google:hover{
    box-sizing: border-box;
    border: 4px solid #021526;
    background-color:#ffffff00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #021526;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Google_O.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: center;
    padding-left: 8px;
}
#Google:active{
    box-sizing: border-box;
    border: 4px solid #fff;
    background-color:#74542E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #fff;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Google.png);
    background-size: 15px 15px;
    background-position-x: 8px;
    background-position-y: center;
    padding-left: 8px;
}
#Facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LOL;
    font-size:small;
    color:#fff;  
    width: 170px;
    height: 35px;
    background-color: #021526;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    margin-top: 10px;
    margin-left: 5px;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Facebook.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: center;
    padding-left: 20px;
}
#Facebook:hover{
    box-sizing: border-box;
    border: 4px solid #021526;
    background-color:#ffffff00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #021526;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Facebook_O.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-x: 7.5px;
    background-position-y: center;
    padding-left: 20px;
}
#Facebook:active{
    box-sizing: border-box;
    border: 4px solid #fff;
    background-color:#74542E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #fff;
    background-image: url(./Recursos/RecursosNatalia/Imagenes/Facebook.png);
    background-size: 15px 15px;
    background-position-x: 7.5px;
    background-position-y: center;
    padding-left: 20px;
}
#links{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#links h4{
    font-family: LOL;
    font-size:medium;
    color: #021526;
    padding-left: 5px;
    margin-right: 10px;
}
#links a{
    font-family: LOL;
    font-size: medium;
    color: #D89E30;
}
#links a:hover{
    color: #fff;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#button a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: LOL;
    font-size:larger;
    color:#fff;  
    width: 200px;
    height: 45px;
    background-color: #021526;
    border: none;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    margin: 10px;
}
#button a:hover{
    box-sizing: border-box;
    border: 4px solid #021526;
    background-color:#ffffff00;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #021526;
}
#button a:active{
    box-sizing: border-box;
    border: 4px solid #fff;
    background-color:#74542E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    color: #fff;
}