body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    top: 0;
    width: 100%;
    height: 80px;
}

#lolLogo {
    width: 100px;
    margin-left: 15px;
}

#userNavbarTittle {
    width: 320px;
}

#userNavbarTittle {
    font-family: 'BeaufortforLOL-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #D89E30;
    margin-left: 20px;
}

#signOut {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-right: 15px;
}

#userProfilePrincipal {
    width: 90%;
    height: 80%;
    margin: 25px;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgb(112, 112, 112);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
}

#userProfileBackground {
    background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vex_0.jpg);
    background-color: aqua;
    width: 600px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: -600px;
    border-radius: 20px 0 0 20px;
}

#userProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    padding-right: 30px;
}

#userImg {
    width: 160px;
    border-radius: 100px;
}

#userSuperior {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contUserName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 188px;
    margin-left: 30px;
}

#contUserName h2 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    position: relative;
    top: 20px;
}

#contUserName h3 {
    margin: 0;
    margin-left: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    position: relative;
    top: 20px;
}

#userBoxes {
    height: 100%;
    margin: 0px 30px 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.userBox {
    margin: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.boxTittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 60px;
    background-color: #F4F4F4;
}

.boxText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

#editCont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#editProfileButton {
    width: 404px;
    height: 65px;
    background-color: #D89E30;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
}

.horizontalSpace {
    width: 100%;
}
